<div id="arrow">
    <div>
<img (click) ="arrowServ.moveItem(-1)" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj0FM2Ovhd1L6YqtlU4rrsD4Gs3wxn0tetww-rFQGoLzN4G4WHMA&s" class="arrow" id="flip" alt="">
    </div>
    <div>
<img (click) ="basketServ.addItem()" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTli7lOQ0u9vbjFgN5iRtNAwHTIxkaTe69rWms76uDLNq2ymw113w&s" alt="" class="basket">        
    </div>
    <div>
<img (click) ="arrowServ.moveItem(1)"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSj0FM2Ovhd1L6YqtlU4rrsD4Gs3wxn0tetww-rFQGoLzN4G4WHMA&s" class="arrow" alt="">
    </div>
</div>
