#flip{
    transform: scaleX(-1);
    filter: FlipH;
    
}
.basket{
    max-width: 180px;
}
#arrow{
    justify-content: space-around;
    align-self: center;
    display: flex;
}
img:hover{
cursor: pointer;
}
.arrow{
    max-width: 120px;
    height: 100px;
}
